<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approver Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="approver-header">
        <h1>Approver Dashboard</h1>
    </div>
    <div class="approver-container">
        <div id="proposalList" class="approver-proposal-list">
        </div>
    </div>
    <script src="scripts/approverDashboard.js"></script>
</body>

</html>