<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approver Dashboard - NWU Project Proposal System</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header">
        <h1>NWU Project Proposal System Approver Dashboard</h1>
    </div>
    <div class="container">
        <h2>Welcome back, <span id="username">Approver</span>!</h2>
        <div class="dashboard-container">
            <div class="card">
                <a href="proposalsDashboard.html">View Proposals for Approval</a>
            </div>
            <div class="card">
                <a href="updateInfo.html">Update Personal Info</a>
            </div>
            <div class="card">
                <a href="changePassword.html">Change Password</a>
            </div>
        </div>
    </div>
    <div class="footer">
        Developed by: Dan del Prado
    </div>

    <script src="/js/approverDashboard.js"></script>
</body>

</html>