<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NWU Project Proposal System</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="header">
        <h1>NWU Project Proposal System</h1>
    </div>
    <div class="container">
        <div class="login-card">
            <form class="login-form" autocomplete="off">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required autocomplete="off">

                <label for="password">Password:</label>
                <div class="password-field">
                    <input type="password" id="password" name="password" required autocomplete="off" readonly
                        onfocus="this.removeAttribute('readonly');" ondblclick="togglePasswordVisibility();">
                </div>
                <small class="instruction-text">Double-click to toggle password visibility</small>

                <button type="submit" class="button-primary">Log In</button>
            </form>
        </div>
    </div>

    <div class="footer">
        Developed by: Dan del Prado
    </div>

    <script>
        function togglePasswordVisibility() {
            let passwordInput = document.getElementById('password');
            passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
        }

        document.querySelector('.login-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            };

            fetch('/auth/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(formData),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.redirectUrl) {
                        window.location.href = data.redirectUrl;
                    } else {
                        alert('Login failed: ' + data.error);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert("An error occurred during login. Please try again later.");
                });
        });
    </script>
</body>

</html>