<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Your Details - NWU Project Proposal System</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header">
        <h1>Update Your Details</h1>
    </div>
    <div class="container">
        <div class="login-card">
            <form class="login-form" id="updateInfoForm" autocomplete="off">
                <input type="hidden" name="userId" id="userId" value="">

                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>

                <button type="submit" class="button-primary"> Update Details </button>
            </form>
        </div>
    </div>
    <div class="footer">
        Developed by: Dan del Prado
    </div>

    <script>
        document.querySelector('.login-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = {
                firstName: document.getElementById('firstName').value,
                lastName: document.getElementById('lastName').value
            };

            fetch('/auth/update-profile', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(formData),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.redirectUrl) {
                        window.location.href = data.redirectUrl;
                    } else {
                        alert('Profile update failed: ' + data.error);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert("An error occurred during profile update. Please try again later.");
                });
        });
    </script>

</body>

</html>