<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Your Details - NWU Project Proposal System</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="header">
        <h1>Update Your Details</h1>
    </div>
    <div class="container">
        <div class="login-card">
            <form class="login-form" id="updateInfoForm" autocomplete="off">
                <input type="hidden" name="userId" id="userId" value="">

                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>

                <button type="submit" class="button-primary"> Update Details </button>
            </form>
        </div>
    </div>
    <div class="footer">
        Developed by: Dan del Prado
    </div>

    <script src="/scripts/updateInfo.js"></script>


</body>

</html>